/* Color Variable */

$black-c: #000;
$sec-black-c: #333;
$light-black-c: #4f4f4f;
$light-gray-c: #bdbdbd;
$lighter-gray-c: #a9a9a9;
$orange-c: #f2994a;

// Media query breakpoints

$brk-point-768: "(min-width: 768px)";
$brk-point-1024: "(min-width: 1024px)";
