.section__instructions {
  font-size: 1.6rem;
  font-style: normal;
  margin-top: 2rem;
}

.linkSite {
  font-size: 1.2rem;
  color: $light-gray-c;
  font-style: italic;
}

.procedure__list {
  display: flex;
  align-items: flex-start;
  margin: 2rem 0;

  h2 {
    background-color: $orange-c;
    padding: 0.8rem 1.5rem;
    color: #fff;
    border-radius: 1rem;
  }
  span {
    font-weight: bold;
  }
}
