* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.3;
  font-weight: normal;
  font-size: 1.4rem;
  color: $sec-black-c;
  font-family: "Montserrat", sans-serif;
}

li {
  text-decoration-style: none;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.main {
  @media #{$brk-point-1024} {
    display: grid;
    grid-template-columns: 600px 1fr;
  }
}

.section__hero {
  @media #{$brk-point-1024} {
    grid-column: 1 / 2;
    grid-row: 1 /2;
  }
}
